      
 <table> 
    <thead>
        <tr>
          <th>Prod/Name</th>
          <th>Prod/-Count</th>
          <th colspan="3"></th>
        </tr>
  </thead>
  <tbody>                        
       <tr>
            <td><%= order.product_name %></td>  
            <td><%= order.product_count %></td>  
            <td><%= link_to "Edit", edit_customer_order_path(@customer, order) %></td>
            <td> <%= link_to "Delete", [@customer, order], method: :delete  %></td>
        </tr>
     </tbody>
 </table>